ok {
	color: green;
}
inp {
	color: blue;
}
.stack{
	margin-left: 2;
}
pre {
	border: 1px solid fuchsia;
	height: 212px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: none;
	margin-top: 1; 
	margin-bottom: 1;
}