.sendCmdBtn{
	margin-left: 1px;
	width: 80px;
}
.inputCmdBox{
	margin-left: 1px;
	margin-top: 1px
}
.sendFileBtn{
	margin-left: 1px;
	width: 80px;
}
.inputFileBox{
	margin-left: 1px;
	margin-top: 1px;
}
.systemBox{
	width: 82px;
}
.lineDelayBox{
	width: 47px;
}