.sendCmdBtn{
	margin-left: 1px;
	width: 80px;}
.inputCmdBox{
	margin-left: 2px;
	margin-top: 1px}
.sendFileBtn{
	margin-left: 1px;
	width: 80px;}
.inputFileBox{
	margin-left: 2px;
	margin-top: 2px;}
.systemBox{width: 82px;}