.outputarea {border: 1px solid fuchsia;
	margin-top:0px;
    height: 392px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: none;
	background: #f0f0f0;
}
ok {color: green;}
inp {color: blue;}
err {color: red;}